body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #495057;
  word-spacing: 2px;
}
.loader_bg{
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  width: 580px;
}
.bg-dark{
  background: linear-gradient(rgba(0,0,0),rgba(0,0,0))!important;
}
.logo-white{
  display: none;
}
.logo-h{
  height: 100px;
}
nav img{
  height: 60px;
}
nav li a:hover{
  border-bottom: 2px solid #faa307;
  padding: 0!important;
}
.height{
  min-height: 100vh;
}
header{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/strenge/hero.jpg)center/cover no-repeat fixed;
  letter-spacing: 2px;
  color: #fdfffc;
}
.btn-active{
  background-color: #faa307!important;
  border: 1px solid #faa307!important;
  border-radius: 20px!important;
  color: #ffffff!important;
  padding-left: 30px!important;
  padding-right: 30px!important;
  font-size: 20px!important;
}
.btn-active:hover{
  background-color: #faa507af!important;
}
header button{
  border: 1px solid #faa307!important;
  border-radius: 20px!important;
  color: #faa307!important;
  padding-left: 30px!important;
  padding-right: 30px!important;
  margin-top: 20px;
  font-size: 20px!important;
}
header button:hover{
  color: #ffffff!important;
  background-color: #faa507af;
}
.title-underline{
  border: 1px solid #faa307;
  width: 100px;
  display: inline-block;
  animation: ligne 5s infinite ;
}
@keyframes ligne{
  0%{
    opacity: 0.5;
  }
  100%{
    width: 50%;
  }
}
.text-danger{
  color: #faa307!important;
}
h2{
  animation: word-space 5s infinite;
}
@keyframes word-space{
  0%{
    word-spacing: 50px;
  }
}
h3{
  font-size: 20px;
}
.meal-photo{
overflow: hidden;
background-color: #000;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
#images .display-larg img{
  width: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0.7;
}
#images .display-larg img:hover{
  transform: scale(1.03);
  opacity: 1;
}
.display-carousel{
  display: none;
}
#app{
  background-color: #f4f4f4;
}
#app img{
  width: 40%;
}
.numbers{
  border: 1px solid #faa307;
  border-radius: 50%;
  font-size: 30px;
  color: #faa307;
}
.margin{
  margin-left: 50px;
}
#app .app-screen-img{
  width: 30%;
}
#cities span{
  display: block;
}
.color{
  color: #faa307;
  font-size: 20px;
}
#cities a{
  border-bottom: 1px solid #faa307;
}
#cities a:hover{
  text-decoration: none;
  color: #495057;
  border-bottom: unset;
}
#review{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/strenge/back-customers.jpg)center/cover no-repeat fixed;
}
#review .color{
  font-size: 30px;
  color: #f4f4f4;
  margin-bottom: 8px;
  margin-top: 30px;
}
#review img{
  width: 15%;
  margin-right: 15px;
}
#pricing{
  background-color: #f4f4f4;
}
#pricing li, .card{
  border: none;
}
#pricing .bb, #pricing ul{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
}
#pricing span{
  font-size: 300%;
}
#pricing .pricing-btn{
  border: 1px solid #faa307!important;
  border-radius: 20px!important;
  color: #faa307!important;
  padding-left: 30px!important;
  padding-right: 30px!important;
  font-size: 20px!important;
}
#pricing .pricing-btn:hover{
  color: #ffffff!important;
  background-color: #faa507af;
}
textarea{
  width: inherit;
  height: 100px;
}
.list{
  background-color: inherit;
  border: none!important;
}
footer .list-1 a:hover{
  text-decoration: none;
  color: #f4f4f47c!important;
}
.fb:hover{
  color: #4267B2;
}
.tw:hover{
  color: #1DA1F2;
}
.gp:hover{
  color: #DB4437;
}
.ig:hover{
  color:#833AB4;
}
.display{
  display: inline-block;
}